APP_NAME=SISTECH NEXUS
APP_ENV=development
APP_DEBUG=true
APP_VERSION=0.0.1-dev

DATABASE_URL=postgresql+asyncpg://nexus:ChangeMe123@localhost:5432/sistech_nexus
SECRET_KEY=CHANGE_THIS_SECRET_KEY
ACCESS_TOKEN_EXPIRE_MINUTES=60